<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DbConnection" value="Data Source=raysacademy.co.in;Initial Catalog=jaydb;User ID=jayuser;Password=I9zM0et@4^Dkftfb; TrustServerCertificate=True" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxRequestLength="51200" executionTimeout="360" />
  </system.web>
</configuration>
