<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DbConnection" value="Data Source=hostname;Initial Catalog=dbname;User ID=enteruserid;Password=enterpassward; TrustServerCertificate=True" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxRequestLength="51200" executionTimeout="360" />
  </system.web>
</configuration>
